<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    
    <h1>Fala Galeraaaa</h1>
    <p>Iniciando estudo em Node.js</p>

    <ul>
        <a href="/video/video1">
            <li>Video 1</li>
        </a>
        <a href="/videos/video2">
            <li>Video 2</li>
        </a>
        <a href="/videos/video3">
            <li>Video 3</li>
        </a>

    </ul>

</body>
</html>